/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
      My CSS
      ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #f0fdfa;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  position: relative;
}

/* ---- stats.js ---- */

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #f0fdfa;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container-left {
  width: 50vw;
}
.hero-container-right {
  width: 50vw;
}

.hero-title-block {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 34vh;
  background-color: rgba(5, 150, 105, 0.2);
  z-index: 1;
  opacity: 0;
  animation-name: fadeInAnime;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  animation-delay: 1.2s;
}

.hero-title {
  display: block;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  color:#222;
}

.description-lab{
  position: absolute;
  bottom: 45vh;
  text-align: center;
  opacity: 0;
  animation-name: fadeInAnime;
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  animation-delay: 1.6s;
}

.description-lab p{
  font-size: 1rem;
  color: #064e3b;
  line-height: 2;
}

#circle-java,
#circle-python,
#circle-ts,
#circle-laravel,
#circle-react,
#circle-go,
#circle-aws,
#circle-nextjs,
#circle-azure,
#circle-nodejs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  font-family: "Chakra Petch", sans-serif;
  z-index: 2;
  opacity: 0;
  animation-name: fadeUpAnime;
  animation-fill-mode: forwards;
}

#circle-java {
  width: 6rem;
  height: 6rem;
  background-color: rgba(52, 211, 153, 0.4);
  top: 45vh;
  left: 12vw;
  font-size: 1rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.1s;
}

#circle-python {
  width: 10rem;
  height: 10rem;
  background-color: rgba(52, 211, 153, 0.65);
  top: 42vh;
  right: 13vw;
  font-size: 1rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

#circle-ts {
  width: 16rem;
  height: 16rem;
  background-color: rgba(52, 211, 153, 0.75);
  bottom: 10vh;
  left: 6vw;
  font-size: 1.6rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

#circle-laravel {
  width: 6rem;
  height: 6rem;
  background-color: rgba(52, 211, 153, 0.4);
  top: 18vh;
  right: 40vw;
  font-size: 0.8rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.4s;
}

#circle-react {
  width: 12rem;
  height: 12rem;
  background-color: rgba(52, 211, 153, 0.6);
  bottom: 9vh;
  right: 9vw;
  font-size: 1.2rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

#circle-go {
  width: 16rem;
  height: 16rem;
  background-color: rgba(52, 211, 153, 0.75);
  top: 9vh;
  right: 5vw;
  font-size: 2rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 1s;
}

#circle-aws {
  width: 10rem;
  height: 10rem;
  background-color: rgba(52, 211, 153, 0.4);
  bottom: 10vh;
  left: 31vw;
  font-size: 1rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.7s;
}

#circle-nextjs {
  width: 14rem;
  height: 14rem;
  background-color: rgba(52, 211, 153, 0.65);
  top: 10vh;
  left: 10vw;
  font-size: 1.4rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.6s;
}

#circle-azure {
  width: 8rem;
  height: 8rem;
  background-color: rgba(52, 211, 153, 0.55);
  top: 10vh;
  left: 40vw;
  font-size: 0.8rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.8s;
}

#circle-nodejs {
  width: 14rem;
  height: 14rem;
  background-color: rgba(52, 211, 153, 0.7);
  bottom: 2vh;
  right: 32vw;
  font-size: 1.4rem;
  font-weight: 800;
  animation-duration: 1s;
  animation-delay: 0.9s;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-contact-btn-block{
  position: absolute;
  bottom: 30vh;
  z-index: 3;
}

.hero-contact-btn-block button{
  padding: 1rem 1.6rem;
  border-radius: 4px;
  background: #FFA500;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 200;
}